* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-family: "Sofia Sans", sans-serif;
}

#root {
  background-color: #141419;
}

body {
  overscroll-behavior: none;
}